@import url("components/card.css");
@import url("components/footer.css");
@import url("components/navbar.css");

@import url("layouts/map.css");
@import url("layouts/profile.css");
@import url("header/header.css");

body{
  background-color: rgba(250, 250, 250, 1);
  margin: 0;
  font-family: 'Anton', sans-serif;
}

/* .container{
  display: flex;
  justify-content: space-between;
} */
